<html>

  <head>

    <%- include partials/head %>

    <style>
        
        
        .bgimg-1, .bgimg-2, .bgimg-3 {
          position: relative;
          opacity: 0.65;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        
        }
        .bgimg-1 {
          background-image: url("https://www.elblogueronovato.com/wp-content/uploads/2016/07/STARTUPPHOTOS-1024x683.jpg");
          min-height: 100%;
        }
        
        .bgimg-2 {
          background-image: url("https://www.elblogueronovato.com/wp-content/uploads/2016/07/UNPLASH.jpeg");
          min-height: 400px;
        }
        
        .bgimg-3 {
          background-image: url("https://www.elblogueronovato.com/wp-content/uploads/2016/07/LIFEOFPIX-1024x683.jpeg");
          min-height: 400px;
        }

        </style>

  </head>

  <body>

    <!-- HEADER-->
    <%- include partials/header %>

    <!-- CONTENT-->
    <main role="main" class="parallax">

        <div class="img" id="main-img" style="background-image: url('https://www.elblogueronovato.com/wp-content/uploads/2016/07/STARTUPPHOTOS-1024x683.jpg')">
            <div class="caption">
                <span class="border p-4">Origen</span>
            </div>
        </div>
          
        <div class="p-5 origin">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit volutpat aliquet feugiat montes, quam erat torquent ultricies cum conubia molestie vel porttitor metus, nostra viverra enim senectus ultrices ac fringilla cubilia semper purus. Mattis nam egestas ac ultrices blandit auctor euismod, libero potenti cursus magna id ligula, turpis sociosqu parturient mollis ridiculus justo. Ornare orci ligula sodales mi volutpat congue velit dis mollis donec risus, lobortis nostra sem mus inceptos litora non tincidunt auctor at, sed eros id mauris ultricies pharetra sapien ultrices quam senectus. Imperdiet sem tristique blandit curae lacus porta sodales fusce, pharetra urna libero eget proin placerat eros primis nisi, aenean gravida suspendisse mauris tortor curabitur lacinia.</p>
            <p>Risus curae nascetur ultrices tempus eleifend potenti, mi aliquet molestie dictum mauris quisque mus, nibh dis phasellus ligula eu. Phasellus euismod tortor volutpat suscipit semper convallis mauris egestas, proin sociis nostra sollicitudin rhoncus molestie fermentum potenti odio, lobortis auctor curabitur ante himenaeos mollis etiam. Erat hendrerit aliquam turpis netus accumsan phasellus tempor class, orci nullam sociis facilisis felis molestie tempus.</p>
            <p>Nisl integer imperdiet suscipit dapibus nostra sed mus inceptos a lectus, dui justo tempor commodo sem nisi risus fermentum velit, aliquet pharetra porttitor quam facilisis varius dis at magnis. Convallis dignissim lectus primis cubilia tincidunt non pellentesque velit, tortor a ac eget justo aenean id, neque magna est urna morbi nulla habitasse. Vivamus tincidunt nullam nisl imperdiet primis senectus nam facilisis accumsan, posuere fames montes bibendum dis placerat varius tortor massa curabitur, phasellus potenti integer ullamcorper ultrices justo ultricies convallis. Tellus interdum vulputate mus proin sem augue felis mauris accumsan non, a nec phasellus in est metus pretium vel nisi, scelerisque praesent eleifend nullam tempor purus mollis dis sollicitudin.</p>
            <p>Convallis suscipit tristique velit viverra curabitur nostra duis nam libero, blandit mus ligula sapien potenti arcu nibh diam, neque cras lacinia cum mattis taciti mauris euismod. Et vulputate senectus euismod tincidunt pulvinar iaculis etiam sociosqu bibendum neque, at aptent porttitor vel lobortis vivamus ante viverra duis, fusce aenean venenatis id nascetur eget donec dis pellentesque. Per massa consequat egestas integer non libero sagittis ultricies fringilla dis taciti imperdiet feugiat, tristique conubia nunc habitasse tincidunt porttitor eleifend platea litora nec ligula hendrerit. Integer ad ultrices sed nisl inceptos per penatibus odio, quam sodales vitae mauris urna pellentesque tincidunt vel, suscipit ullamcorper ligula felis congue nisi luctus. Facilisi proin lacinia ut lobortis et pulvinar eleifend aliquam ridiculus velit volutpat nam, nulla laoreet euismod elementum magnis dictum enim cras gravida aptent tristique.</p>
            <p>Suspendisse nisi facilisis vitae mattis ornare quam justo auctor suscipit congue, vel nascetur porta diam parturient nec lobortis nisl posuere ultricies, eros tincidunt duis fames dui augue per dignissim lectus. Proin eleifend platea ultrices orci eu conubia mattis semper tincidunt, leo vulputate viverra lacus vitae et scelerisque ante habitasse interdum, sed mi rhoncus mauris mollis sollicitudin fusce nibh. Pulvinar fusce dictumst etiam primis eu sollicitudin eleifend potenti viverra porta penatibus montes lacus, malesuada sociis vehicula mauris nullam parturient et velit fringilla tristique imperdiet convallis.</p>
        </div>
          
        <div class="img" style="background-image: url('https://www.elblogueronovato.com/wp-content/uploads/2016/07/UNPLASH.jpeg')">
            <div class="caption">
                <span class="border p-4">Nuestros valores</span>
            </div>
        </div>
          
        <div class="p-5 values">
            <div >
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, morbi viverra faucibus a ullamcorper iaculis, porta tincidunt condimentum lectus dui nulla.</p>
                <ol>
                    <li>Lorem ipsum dolor sit amet consectetur, adipiscing elit eu vivamus.</li>
                    <li>Praesent maecenas felis metus ornare porttitor, quam sem pretium.</li>
                    <li>Varius netus risus aliquet venenatis bibendum, pellentesque etiam morbi.</li>
                    <li> Magna lobortis hendrerit volutpat mus, senectus leo.</li>
                    <li>Quis dis rutrum ultrices, eros tellus sagittis, justo magnis.</li>
                    <li>Mollis donec vivamus curabitur nam sociosqu, senectus sed aptent.</li>
                    <li>Dictum consequat etiam pharetra fames nunc, lobortis habitant aptent aliquet.</li>
                    <li>Purus libero ut imperdiet sapien, ac sociis urna.</li>
                </ol>
            
            </div>
        </div>
        
        <div class="img" style="background-image: url('https://www.elblogueronovato.com/wp-content/uploads/2016/07/LIFEOFPIX-1024x683.jpeg')">
            <div class="caption">
                <span class="border p-4">Fundador</span>
            </div>
        </div>

        <div class="p-5 row founders">
            <div class="col-md-7 order-md-2">  
                <h2 class="founders-heading">Name <span class="founders-subheading">Apellidos</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit eu, cum eget tristique interdum suspendisse non cubilia nisi, senectus euismod curae quis porta lectus platea. Dictumst habitasse pellentesque suspendisse pretium volutpat tellus scelerisque consequat, lacinia hac at neque taciti etiam felis ultrices, ullamcorper purus ultricies duis netus varius vulputate. Ligula sem mus ac massa mi magna neque hendrerit dictum quisque aenean sociosqu cum, bibendum commodo aliquam fringilla morbi cursus integer feugiat viverra a at. Gravida fringilla arcu id potenti eleifend nunc natoque lectus netus quam, rutrum aptent habitasse praesent metus quis eu nulla tempor, facilisi lacus volutpat sagittis venenatis faucibus curae platea euismod.</p>
                </div>
        
                <div class="col-md-5"> 
                    <img src="https://www.hrconnect.cl/wp-content/uploads/2020/06/reducing_conflict-768x506.jpg" class="img-fluid">
                </div>
            </div>
        </div>
        
        <div class="p-5 quote">
            <p>"Lorem ipsum dolor sit amet consectetur, adipiscing elit iaculis porttitor nulla, aliquet velit pulvinar pretium."</p>
        </div>
        
        <div class="img" id="main-img" style="background-image: url('https://www.elblogueronovato.com/wp-content/uploads/2016/07/STARTUPPHOTOS-1024x683.jpg')">
            <div class="caption">
                <span class="border p-4">COOL!</span>
            </div>
        </div>

    </main>

    <!-- FOOTER -->
    <%- include partials/footer %>

   </body>

</html>
